.team {
    background-color: bisque;
    box-shadow: inset 0 0 3px 2px black;
    color: black;
    margin: 5px;
    padding: 5px;
    position: relative;

    .heros {
        width: 100%;
        display: table;
        border-collapse: separate;

        .hero {

            .hpBar {
                .hpMax {
                    display: block;
                    height: 10px;
                    border: 1px solid black;
                    background-color: #4f4f4f;
                    border-radius: 10px;

                    .hp {
                        display: block;
                        height: 100%;
                        background-color: red;
                        box-shadow: inset 0 0 7px 0px black;
                    }
                }
            }
        }
    }

    button.toogle {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .full {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);

        button {
            left: 50%;
            top: 50%;
            margin: -28px;
            display: flex;
            justify-content: center;

            ::ng-deep .mat-button-wrapper {
                padding: 0;
            }
        }
    }
}
