<div class="team small-caps"
     *ngIf="team">
    <div class="full"
         *ngIf="team.status === 'FAINTED'">
        <button mat-fab
                (click)="fainted()">
            <mat-icon svgIcon="knockout"
                      [inline]="true"></mat-icon>
        </button>
    </div>
    <div fxLayout="row"
         fxLayoutAlign="center center">
        {{team.name}}
    </div>
    <mat-divider></mat-divider>
    <div class="heros">
        <div class="hero"
             *ngFor="let member of team.members">
            <div fxLayout="row">

                <div fxFlex="50px">
                    <mat-icon svgIcon="person"
                              [inline]="true"></mat-icon>
                </div>
                <div fxFlex
                     fxLayout="column"
                     fxLayoutGap="2px">
                    <div class="heroName">{{member.name}}</div>
                    <div class="hpBar">
                        <div class="hpMax">
                            <div class="hp"
                                 [style.width.%]="member.hp/member.hpMax*100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
    <div>
        Mission : {{team.mission}}
    </div>
    <div>
        Status : {{team.status}}
    </div>
    <mat-divider></mat-divider>
    <div>
        Actions:
        <button mat-icon-button
                (click)="action('WAIT')"
                matTooltip="Attendre"
                [disabled]="team.mission === 'WAIT'"
                [class.toogle]="team.mission === 'WAIT'">
            <mat-icon svgIcon="pause-button"></mat-icon>
        </button>
        <button mat-icon-button
                (click)="action('RECUPERATE')"
                matTooltip="Se reposer"
                [disabled]="team.mission === 'RECUPERATE'"
                [class.toogle]="team.mission === 'RECUPERATE'">
            <mat-icon svgIcon="campfire"></mat-icon>
        </button>
        <button mat-icon-button
                (click)="action('HUNT')"
                matTooltip="Chasser"
                [disabled]="team.mission === 'HUNT'"
                [class.toogle]="team.mission === 'HUNT'">
            <mat-icon svgIcon="pawprint"></mat-icon>
        </button>
    </div>
</div>
