<button mat-icon-button
        *ngIf="isDev"
        (click)="reset()"
        matTooltip="Reset">
    <mat-icon svgIcon="trash-can-w"></mat-icon>
</button><button mat-icon-button
        (click)="load()"
        matTooltip="Chargement rapide">
    <mat-icon svgIcon="load-w"></mat-icon>
</button>
<button mat-icon-button
        (click)="save()"
        matTooltip="Sauvegarde rapide">
    <mat-icon svgIcon="save-w"></mat-icon>
</button>
