svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .cell {
        stroke: #000;
        stroke-width: 1;
        &:hover {
            cursor: pointer;
        }
    }

    .objectifLine {
        stroke: red;
        fill: none;
        stroke-width: 8px;
        stroke-linecap: square;
    }
}
