<svg #svg
     (mousedown)="onMousedown($event)"
     (mouseup)="onMouseup()"
     (mousemove)="onMousemove($event)">
    <g [style.transform]="getTransform()">
        <polygon *ngFor="let cell of cells"
                 class="cell"
                 (click)="onClickCell(cell)"
                 [attr.fill]="cell.area.color"
                 (dblclick)="onDoubleClickCell(cell)"
                 (contextmenu)="onRightClickCell(cell, $event)"
                 [attr.points]="cell.getPoints()">
        </polygon>
    </g>
</svg>
