<div class="small-caps">
    <mat-dialog-content>
        U ded, git gud
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row"
                        dir="rtl"
                        fxLayoutGap="20px">
        <button mat-raised-button
                mat-dialog-close>No</button>
    </mat-dialog-actions>
</div>
