.menu-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    .menu-content {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: auto;
        color: white;

    }
}
