<div class="menu-box"
     [style.width.px]="width">
    <div class="menu-content">
        <team *ngFor="let team of teams"
              [team]="team">
        </team>
        <pre *ngIf="isDev">{{ teams | json }}</pre>
    </div>
</div>
