@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body, .page_container {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(#4f4f4f, #242424);
}

* {
    margin: 0;
    padding: 0;
}

.small-caps {
    &, *:not(mat-icon) {
        font-variant: small-caps;
        font-family: serif;
    }
}
